body{
    background-color: #f05454;
    font-size: 1em;
}
.title{
    text-align: center;
    font-size: 3em;
    color: white;
    font-weight: bold;
    margin: 4% 0 4% 0;
}
.heading{
    font-size:  1.5em;
    position: relative;
    bottom: 2px;
    left: 2px;
    overflow: hidden;
}
.child1{
    background-color: #f1ae89;
    color: #865858;
}
.child1>.heading{
    background-color: #865858;
    color: white;
}
.child2{

    background-color: #f58634;
    color: white;
}
.child2>.heading{
    background-color: white;
    color: #f58634;
}
.child3{
    background-color: #1a508b;
    color: white;
}
.child3>.heading{
    background-color: white;
    color: #1a508b;
}
.parent>div{
    float: left;
    margin:0% 0% 2.5% 2.5%;
    border: 2px solid white;
    width: 30%;
    box-sizing: border-box;
}
.parent>div>h1{
    text-align: right;
    box-sizing: content-box;
    border: 2px solid white;
    margin: 0%;
    
}
.heading{
    margin-left: 65%;
    border: 2px solid white;
    width:35%;
    text-align: center;
    box-sizing: border-box;
}
.content{
    padding: 3%;
}

@media(max-width:991px){
    .parent>div{
        float: left;
        margin:0% 0% 4% 4%;
        border: 2px solid white;
        width: 45%;
        box-sizing: border-box;
    }   
.child3{
    clear:left;
}
}
@media(max-width:767px){
    .parent>div{
        float: left;
        margin:0% 0% 6% 6%;
        border: 2px solid white;
        width: 90%;
        box-sizing: border-box;
    }   
    .child2{
        clear:left;
    }
    .child3{
        clear:left;
    }
    }