body {
    background-color: #f05454 ;
    font-size: 1em ;
}
#header-nav{
    background-color: #f5c0c0;
    border-radius: 0%;
}
#navtitle{

    color: #f05454;
    font-size: 2em;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
}
#food-llc:hover {
    text-decoration: none;
}
#navtitle:hover{
    color: #ac0d0d;
    border-radius: 5%;
}
#btn-style{
    background-color: #f05454;
}
#btn-style span{
    background-color: #f5c0c0;
}
#nav-list{
    text-align: center;
    background-color: #f5c0c0;

}
#nav-list li a{
    color: #f05454;
    font-size: 2em;
}
#nav-list li a:hover{
    color: #f5c0c0;
    background-color:#f05454 ;
}
.title{
    text-align: center;
    font-size: 5em;
    color: white;
    font-weight: bold;
    margin: 4% 0 4% 0;
}
.heading{
    text-align: center;
    background-color: white;
    width: 40%;
    margin-left: 30%;
}
.child1,.child2,.child3{
    border: 2px solid white;
    width:100%;
    margin-bottom: 5%;
    font-size: 2em;
    color: white;
    text-align: justify;
}
.content{
    padding: 3%;
}
.child1{
    background-color: #865858;
}
.child2{
    background-color: #f58634;
}
.child3{
    background-color: #1a508b;
}
.child1 .heading{
    color: #865858;
    font-size: 1.5em;
}
.child2 .heading{
    color: #f58634;
    font-size: 1.5em;
}
.child3 .heading{
    color: #1a508b;
    font-size: 1.5em;
}
#btt{
    color: rgb(27, 238, 80);
}